html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#table {
  background-color: darkgreen;
  min-height: 50px;
  height: 100%;
  width: 80%;
}

#templates {
  display: none;
}

#stock-waste-foundations,
#piles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 240px;
  padding: 50px 100px;
}

#stock-waste-foundations > div,
#piles > div {
  width: 100px;
}

#stock-waste-foundations > #stock > .card:not(:first-child),
#stock-waste-foundations > #waste > .card:not(:first-child),
#stock-waste-foundations > .foundation > .card:not(:first-child),
#piles .pile .card:not(:first-child) {
  margin-top: -136px;
}

#table[data-debug='true'] #stock-waste-foundations > #stock > .card:not(:first-child),
#table[data-debug='true'] #stock-waste-foundations > #waste > .card:not(:first-child),
#table[data-debug='true'] #stock-waste-foundations > .foundation > .card:not(:first-child),
#table[data-debug='true'] #piles .pile .card:not(:first-child) {
  margin-top: -120px;
}

.card,
#stock:empty,
#waste:empty,
.foundation:empty,
.pile:empty {
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
  height: 140px;
  width: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  user-select: none;
}

.card * {
  pointer-events: none;
}

.card[data-upturned=''] {
  background-color: aquamarine;
}
#table[data-debug=''] .card[data-upturned=''] * {
  display: none !important;
}

.card[data-suit='spades'],
.card[data-suit='clubs'] {
  color: black;
}
.card[data-suit='diamonds'],
.card[data-suit='hearts'] {
  color: red;
}

.card > .card-top,
.card > .card-bot {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.card > .card-top > div,
.card > .card-bot > div {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.card > .card-bot {
  transform: rotate(180deg);
}

.card > .card-mid {
  text-align: center;
  font-size: 32px;
}

#table[data-debug='true'] .card[data-debug]:hover::before {
  content: attr(data-debug);
  position: absolute;
  left: 80px;
  top: 1px;
  white-space: pre;
  background: black;
  color: white;
  z-index: 1;
}
